/* Hack Club red: #ff4b55 */
/* Hack Club purple: #d44e74 */

html, body {
  font-family: 'Open Sans', sans-serif;
}

.hack-club {
  color: white;
}

.hack-club:hover {
  color: white;
  -webkit-transition: all 700ms;
  -moz-transition: all 700ms;
  -o-transition: all 700ms;
  transition: all 700ms;
  text-decoration: underline;
}

.panel {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2em;
  margin: 2em;
  border: 1px rgba(255, 255, 255, 0.1) solid;
}

.panel:hover {
  background-color: rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(
      to top right,
      rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)
    );
  border: 1px white solid;
  -webkit-transition: all 700ms;
  -moz-transition: all 700ms;
  -o-transition: all 700ms;
  transition: all 700ms;
}

.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6, .panel p, .panel a {
  color: white;
}

.section {
  width: 100%;
  padding: 50px 0;
  margin: 0;
}

.banner {
  color: white;
  background-color: #000;
  background: url('https://cdn.rawgit.com/hackclub/website/master/app/assets/images/group_photo.jpg') no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner h1 {
  font-size: 6em;
  font-weight: 700;
}

.banner p {
  line-height: 0.75em;
}

.slogan {
  margin: 5em 0;
}

a.button.apply {
  margin: auto 0;
  font-size: 2em;
  background: #ff4b55;
  color: #fff;
  border: 1px #ff4b55 solid;
}

a.button.apply:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0)
  border-color: white;
}

.sign-up {
  color: white;
  background:#5679AD; 
}

.map {
  color: white;
  background-color: #E67E22;
}

.flex-video {
  margin: 0 2em;
}

.footer {
  color: #818181;
  background: #343434;
}